* text=auto eol=lf

# PHP and Blade
*.php diff=php
*.blade.php diff=php linguist-language=php
*.blade diff=php linguist-language=php

# CSS
*.css linguist-language=php

# Markdown
*.md diff=php

# GitHub e arquivos ignorados na exportação
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
