[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Moises João Ferreira
	email = 154389705+moisesferreirajj@users.noreply.github.com
